html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to left bottom, #f46565, #e16881, #c67093, #a97899, #8f7c93, #918797, #94919a, #9b9b9b, #b3b3b3, #cccccc, #e5e5e5, #ffffff);
}
#app-navbar{
    position: fixed;
    width: 100%;
}

div.contain {
    width: 400px;
    right: 50%;
    position: absolute;
    transform: translate(50%, 0%);
    background-color: white;
    overflow: hidden;
    box-shadow: 10px 5px 5px black;
    box-shadow: 0px 0px 60px -30px black;
    margin-top: 60px;
}

.col-sm-6 {
    flex: none !important;
    max-width: none;
}

div.content {
    margin-top: 100px;
}